/*BODY STYLING -------------------------------------------------------*/
body {
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
}
/*FONT STYLING--------------------------------------------------------*/
.font1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
.font2 {
    color: rgba(189, 188, 196, .75);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
.font3 {
    color: rgba(189, 188, 196, .75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.centerFont {
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;
}

/*MAIN & SIDE HOUSING STYLING ----------------------------------------*/
.mainDiv {
    float: left;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(189, 188, 196, 1) 20%);
    background: -o-linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(189, 188, 196, 1) 20%);
    background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(189, 188, 196, .5) 10%);
    display: none;
}
.sideDiv {
    float: right;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    right: 0;
}

/*SIDE LINK STYLING-----------------------------------------------------*/
#headNavigation ul li {
    list-style-position: inside;
    list-style-type: none;
}
#sideLinks {
    position: absolute;
    width: 91%;
    bottom: 0;
}
.linkDiv {
    height: 150px;
    background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 1) 10%, rgba(189, 188, 196, .75) 100%);
    background: -o-linear-gradient(to left, rgba(0, 0, 0, 1) 10%, rgba(189, 188, 196, .75) 100%);
    background: linear-gradient(to left, rgba(0, 0, 0, 1) 10%, rgba(189, 188, 196, .75) 100%);
    cursor: pointer;
    display: none;
    border: 1px solid rgba(0, 0, 0, 1);
    color: black;
    text-shadow: 2px 2px 8px rgba(189, 188, 196, .75);
    text-align: center;
    width: 100%;   
    margin-bottom: 10px;
    opacity: .5;
}
.linkDivH1 {
    float: right;
    width: 50%;
    margin-right: 20%;
}
.linkDivHover {
    height: 150px;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(255, 0, 0, .75) 100%);
    background: -o-linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(255, 0, 0, .75) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(255, 0, 0, .75) 100%);
    cursor: pointer;
    border-top: 4px solid darkgoldenrod;
    border-bottom: 1px solid darkgoldenrod;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    text-align: center;
    margin-bottom: 10px;
}
.linkDivClick {
    height: 150px;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 255, .75) 100%);
    background: -o-linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 255, .75) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 255, .75) 100%);
    cursor: pointer;
    margin-bottom: 10px;
}
/*SIDE BAR SHAPES----------------------------------------------------------*/
.rightTriangle {
    width: 0;
    height: 0;
    border-left: 100px solid black;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    float: left;
    display: none;
}
.rightTriangle2 {
    width: 0;
    height: 0;
    border-left: 100px solid darkgoldenrod;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    float: left;
}
.link3d {
	-webkit-perspective: 1000px;
	perspective: 1000px; 
}